/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 /* custom starts here */


 .responsive-button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  /* justify-content: space-between;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; */
}

.responsive-button:hover {
  background-color: #0056b3;
}

.button-icon {
  width: 30px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.button-text {
  flex: 1; /* Take up remaining space */
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
 .video-bg-container {
  position: relative;
  overflow: hidden; /* Ensure the video does not overflow the container */
  width: 100%;
  height: 100vh; /* Adjust the height to cover the entire viewport */
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

.button-container {
  position: absolute;
  bottom: 0;
  /* width: 85%; */
  z-index: 1; 
  justify-content: space-between;
}





 input::placeholder {
  color: #ffffff;
}

 .flexcontainer {
  display: flex;
  align-items: center;
 }
 .flexitem-username {
  flex-grow: 1;
  display: flex; /* Ensure nested elements are also flex */
  align-items: center; /* Align nested elements vertically */
 }

 .flexcontainerinfo {
  display: flex;
 }
 .flex-icon-day {
  flex-grow: 1;
  font-size: 40px;
 }
 .flex-time {
  flex-grow: 1;
 }
 .flex-temperature {
  flex-grow: 1;
 }

 .flex-meter-number {
  flex-grow: 1;
 }

 .flexcontainerbtn {
  display: flex;
  justify-content: space-between;
 }
 .flex-buttons {
  flex-grow: 1;
  padding: 5px;
 }

 .flexcontainerSearch {
  display: flex;
  align-items: center;
 }
 .flexitem-datepicker {
  flex-grow: 1;
  display: flex; /* Ensure nested elements are also flex */
  align-items: center; /* Align nested elements vertically */
 }



 .boarder-top {
  margin-top: 15px;
 }

 .button-text {
  font-weight: 600;
 }
 

 .input-field > label {
  color: gray;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

 /* label focus color */
.input-field input:focus + label {
  color: gray !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid gray !important;
  box-shadow: 0 1px 0 0 gray !important
}



.full-width {
  height: 100vh !important;
  margin: 0;
}

.row {
  margin-bottom:0px !important
}

.overlay-red {
  
  background-color: #f44336; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.customButtonColor {
  background-color: #12121A;
}

::placeholder {
  color: gray;
}


/* custom ends here */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}






.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-30 2:36:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}




/* start of idb text animation 
*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-27 17:12:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/* end of idb text animation 
*/



/* start of logo animation  */
.text-focus-in {
	-webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-27 17:16:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* end of logo animation  */


/* start of wave dot animation custom code */
.wave-dots {
  font-size: 13px; /* Adjust as needed */
  letter-spacing: 4px; /* Adjust spacing between dots */
}

.wave-dots span {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
}

.wave-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.wave-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave-dots span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* end of wave dot animation custom code */